# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Sequelize CLI
.sequelizerc

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Build artifacts
dist/
build/

# # Other
# coverage/
