.project-page {
    background: var(--bg-main);
    min-height: 100vh;
    display: flex;
    align-items: start;
    color: var(--text-primary);
}

.new-board-form {
    width: 50vh;
}

.board-list {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    overflow-x: auto;
    padding-bottom: 1.5 rem;
    background-color: rgb(58, 75, 186);
    border-radius: 5px;
    padding: 10px;
}