.task-card {
  background: #2a2a2a;
  border: 1px solid rgba(255, 255, 255, .05);
  border-radius: 10px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.task-card:hover {
  transform: translate(-2px);
  background: #333;
}